@charset "utf-8";
/* CSS Document */

.point1list .caption:before { color:#000;}
.anchor { padding-top:140px; margin-top:-140px;}
@media screen and (max-width: 900px) {
	.anchor { padding-top:80px; margin-top:-80px;}
}